{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-md mt-1">
    <center><h2>About US</h2></center>

    <div class="container marketing">


    <hr class="featurette-divider">

    <div class="row featurette">

      <div class="col-md-7">
          <br><br><br><br><br>
        <h2 class="featurette-heading">Daily
            Deals : <span class="text-muted">Get daily Deals from top Ecommerce websites....</span></h2>
<!--        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>-->
      </div>
      <div class="col-md-5">


            <div class="card-mx-auto shadow-lg bg-body rounded">
  <div class="card-body">
      <center>
    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor"
                                     class="bi bi-cart-check" viewBox="0 0 16 16">
  <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg></center>
  </div>
</div>




      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
          <br><br><br><br><br>
        <h2 class="featurette-heading">Price Tracker :
            <span class="text-muted">Track Price of a product and save money!!!</span></h2>
<!--        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>-->
      </div>
      <div class="col-md-5 order-md-1">


          <div class="card-mx-auto shadow-lg bg-body rounded">
  <div class="card-body">
      <center>

          <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor"
                       class="bi bi-graph-down mb-1" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 11.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-1 0v2.6l-3.613-4.417a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61L13.445 11H10.5a.5.5 0 0 0-.5.5z"/>
</svg>

      </center>
  </div>
</div>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
          <br><br><br><br><br>
        <h2 class="featurette-heading">Tech News :
            <span class="text-muted">Get Latest Tech News and more information on new technologys....</span></h2>
<!--        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>-->
      </div>
      <div class="col-md-5">


          <div class="card-mx-auto shadow-lg bg-body rounded">
  <div class="card-body">
      <center>

          <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor"
                       class="bi bi-lightbulb" viewBox="0 0 16 16">
  <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
</svg>

      </center>
  </div>
</div>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
<!-- Three columns of text below the carousel -->
        <center><h2 class="mb-2 mt-2">Our Team</h2>
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
             role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="{% static 'sri.jpeg' %}" height="140" width="140"/></svg>

        <h2>Ch.Srinivas</h2>
        <p>Web Developer</p>
<!--        <p><a class="btn btn-secondary" href="#">View details »</a></p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
             focusable="false">
            <image href="{% static 'raj.PNG' %}" height="140" width="140"/>
        </svg>

        <h2>M.RajKumar</h2>
        <p>Web Developer</p>
<!--        <p><a class="btn btn-secondary" href="#">View details »</a></p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <image href="{% static 'v.jpg' %}" height="140" width="140"/>
        </svg>

        <h2>G.Venkatesh</h2>
        <p>Web Developer</p>
<!--        <p><a class="btn btn-secondary" href="#">View details »</a></p>-->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
            </center>
  </div>
</div>
{% endblock %}