{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}
{% block content %}

{% for blog in vblog %}



<div class="container-md mx-auto mt-3 shadow mt-3 bg-body rounded">


    <div class="card text-center">
  <div class="card-header">
    <h3 class="card-title">{{blog.heading}}</h3>
  </div>
  <div class="card-body">
      <strong><p class="card-text mb-auto">{{blog.subheading1}}</p></strong>
      <p class="card-text mb-auto">{{blog.para1}}</p>
      <img src="{{blog.img_2.url}}" class="card-img-top" alt="...">
      <strong><p class="card-text mb-auto">{{blog.subheading2}}</p></strong>
      <p class="card-text mb-auto">{{blog.para2}}</p>
      <strong><p class="card-text mb-auto">{{blog.subheading3}}</p></strong>
      <p class="card-text mb-auto">{{blog.para3}}</p>


      <div class="mt-3">
      <div class="ratio ratio-16x9">
  <iframe src="{{blog.video}}" title="YouTube video" allowfullscreen></iframe>
</div>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{blog.uploaded_time}}
  </div>
</div>
<center><a href="/techblog"><button type="button" class="btn btn-dark mt-3 mb-3">Go Back</button></a></center>
</div>


{% endfor %}

{% endblock %}