{% block product %}
<h1>Recent Post</h1>
<div class="col-lg-9 mx-auto">
  <div class="row mx-auto">
    {% for product in product %}
    <div class="col mx-auto">
      <div class="card" style="width: 300px">
        <img
          class="card-img-top"
          src="{{product.img_1.url}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text"></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{product.start_time}}</li>
            <li class="list-group-item">{{product.End_time}}</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <a
            href="{{product.product_url}}"
            class="btn btn-primary"
            rel="noopener noreferrer"
            target="_blank"
            >Go somewhere</a
          >
        </div>
        <div class="card-footer">
          <small class="text-muted">{{product.uploaded_time}}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock product %}
